*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.665);
    color: aliceblue;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    margin-top: 20px;
}
.list-1{
   flex: 40%;
   max-width: 40%;
   margin: 0;
}
.logo{
    flex: 20%;
    max-width: 20%;
    text-align: center;
    margin-top: -9px;
}
.list-2{
    flex: 40%;
    max-width: 40%;
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
    display: flex;
     justify-content: space-between; 
    text-transform: capitalize;
    font-weight: 700;
    
}
ul li a{
    text-decoration:none ;
    color: white;
}